/* Modal Overlay */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(126, 126, 126, 0.61); /* Nền trong suốt */
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000;
}

/* Nội dung Modal */
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgb(250, 250, 250);
}

.modalContent h2 {
  text-align: center;
  margin-bottom: 20px; /* Cho khoảng cách với form bên dưới đẹp hơn */
}


.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  font-size: 14px;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.checkboxGroup input {
  margin-right: 5px;
  width: auto;
}

.checkboxGroup label {
  font-size: 0.9rem;
  color: black;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
  justify-content: flex-end;
}

.buttonGroup button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton {
  background-color: #ccc;
}

.buttonGroup button:hover {
  background-color: #0056b3;
}

.closeButton:hover {
  background-color: #aaa;
}

.formContent {
  margin-top: 20px; /* Khoảng cách giữa tiêu đề và nội dung */
}
