
.dashboard-layout {
  display: flex;
  height: 100vh;
  overflow: auto;
}

.main-area {
  flex-grow: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px 30px;
}
